@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary_color: #A01C1C;
    --secondary_color:#492A2A;
    --on_primary: whitesmoke; 
    --box_shadow: 5px 5px 10px 10px black;  
    --background:#DEDEDC; 
    --hdr-font: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--primary_color);
    right: 0;
}

ul {
    list-style: none;
}

.nav-item {
    text-decoration: none;
}

a {
    color: var(--on_primary);
    text-decoration: none;
    cursor: pointer;
}

/* Querry selectors */

@media only screen and (max-width: 600px) {
    .nav-container {
        width: 100vw;
        height: 80px;
        top: 0;
    }
}